name: nano-diffusion
services:
  workspace:
    image: ghcr.io/${REPO_NAME}:0.1.0
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8888:8888" 
      - "2222:22"
    volumes:
      - workspace:/workspace
      # - ../data:/workspace/repo/data
      # - ../models:/workspace/repo/models
      # deploy:
      #   resources:
      #     reservations:
      #       devices:
      #         - driver: nvidia
      #           count: all
      #           capabilities: [ gpu ]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - REPO_NAME=${REPO_NAME}
    stdin_open: true
    tty: true
volumes:
  workspace: